<footer>
    <div class="grid">
      <div class="inner clearfix" style="text-align: left;">
        <p>The contents of this website are <br />&copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the <a href="{{ site.github.repository_url | relative_url }}/blob/master/LICENSE">GNU General Public License v3.0</a>.</p>
      </div>
      <div class="inner clearfix" style="text-align: right;">
        <p>
          Proudly hosted by
          <a href="https://github.com">
            <img src="/assets/images/gh-logo.png" width="100" height="30" alt="GitHub • Social coding">
          </a>
        </p>
      </div>
    </div>
</footer>